body {
    margin: 0;
    padding-top: 20px;
    padding-left: 10px;

    background: white;
    color: #333333;

    font-family: monospace;
    font-size: 20px;
}

main {
    margin: 0;
    background: blue;
}

a {
    color: #333333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
