body {
    margin: 0;
    background: white;
    color: #333;
    font-family: monospace;
    font-size: 20px;
}

main {
    margin-top: 20px;
    margin-left: 20px;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
